In [229]:
import numpy as np
import pandas as pd

In [230]:
df = pd.read_csv('D:\\data.csv')

In [231]:
df.describe()

,day_count_0_25,day_count_0_5,day_count_0_75,day_count_1_0,day_count_2_0,day_count_3_0,day_count_4_0,pop_count_0_25,pop_count_0_5,pop_count_0_75,...,pizza_restaurant_4_0,restaurant_0_25,restaurant_0_5,restaurant_0_75,restaurant_1_0,restaurant_2_0,restaurant_3_0,restaurant_4_0,size,target
count,116.000000,116.000000,116.000000,116.000000,116.000000,116.000000,116.000000,116.000000,116.000000,116.000000,...,116.000000,116.000000,116.000000,116.000000,116.000000,116.000000,116.000000,116.000000,116.000000,1.160000e+02
mean,618.706897,2009.068966,3978.353448,6878.836207,24626.267241,50910.732759,85378.586207,570.646552,2004.422414,4028.974138,...,8.387931,0.646552,1.051724,1.189655,1.482759,3.594828,6.991379,10.844828,346.165609,5.050133e+06
std,883.654349,2566.328471,4106.963451,6536.804683,19067.392975,38340.012034,63609.484005,993.258145,3065.410764,4721.096613,...,6.902768,0.867323,1.185747,1.331320,1.411030,2.822205,5.462116,8.122543,436.478860,3.057783e+06
min,18.000000,27.000000,28.000000,31.000000,49.000000,60.000000,90.000000,16.000000,36.000000,36.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,31.080000,1.001307e+06
25%,239.000000,789.750000,1634.750000,2505.250000,10453.500000,21120.250000,33526.250000,203.500000,800.750000,1510.000000,...,3.750000,0.000000,0.000000,0.000000,0.000000,1.000000,2.000000,3.000000,83.640000,3.310105e+06
50%,497.500000,1718.500000,3502.500000,6636.000000,23852.000000,47529.500000,81835.000000,447.500000,1602.000000,3542.500000,...,7.000000,0.000000,1.000000,1.000000,1.000000,3.000000,7.000000,10.000000,194.250000,4.503270e+06
75%,733.500000,2455.750000,5042.500000,8859.250000,34698.500000,72120.750000,123886.750000,633.000000,2273.500000,5012.250000,...,12.000000,1.000000,2.000000,2.000000,2.000000,5.000000,10.000000,15.250000,357.725000,5.974975e+06
max,9017.000000,25221.000000,36374.000000,52887.000000,98870.000000,166501.000000,267023.000000,10270.000000,30807.000000,43735.000000,...,30.000000,4.000000,5.000000,6.000000,6.000000,16.000000,24.000000,32.000000,2291.040000,2.139360e+07

In [232]:
df.isnull().sum()

day_count_0_25    0
day_count_0_5     0
day_count_0_75    0
day_count_1_0     0
day_count_2_0     0
                 ..
size              0
concept_type      0
city              0
region            0
target            0
Length: 124, dtype: int64

In [233]:
df.head()

,day_count_0_25,day_count_0_5,day_count_0_75,day_count_1_0,day_count_2_0,day_count_3_0,day_count_4_0,pop_count_0_25,pop_count_0_5,pop_count_0_75,...,restaurant_0_75,restaurant_1_0,restaurant_2_0,restaurant_3_0,restaurant_4_0,size,concept_type,city,region,target
0,590,2022,3720,6944,24673,48211,64642,564,2006,3565,...,3,3,6,8,8,286.8573,IL,riyadh,riyadh_region,4888254.998
1,427,1120,1949,3410,11167,20545,35977,250,907,1725,...,3,3,7,9,12,72.3200,FC,other,á¸¥ail_province,2862160.623
2,532,2710,5176,10186,36727,68759,116027,539,2662,5099,...,2,2,8,11,18,196.9590,ILDT,dammam,eastern_province,4033007.517
3,682,2464,4089,7273,26611,42798,59421,682,2507,4093,...,0,1,3,13,14,129.5000,ILDT,other,eastern_province,3683833.046
4,754,2155,4225,6657,25903,56247,109079,798,2225,4436,...,2,2,2,5,11,113.4000,ILDT,jeddah,makkah_region,3500566.183

In [234]:
x= df.drop(['target'], axis=1)
y= df['target']

## Using one hot encoding

In [235]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [236]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state =49)

In [237]:
X_train.shape

(92, 123)

In [238]:
transformer = ColumnTransformer(transformers=[
    ('tnf',OneHotEncoder(sparse=False,drop='first'),['concept_type','city','region'])
], remainder = 'passthrough')

In [239]:
X_train_new = transformer.fit_transform(X_train)

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [240]:
X_train_new.shape

(92, 134)

In [241]:
X_test_new=transformer.fit_transform(X_test)

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [242]:
X_train_new.shape

(92, 134)

In [243]:
X_test_new.shape

(24, 134)

## Model building

In [244]:
from sklearn.linear_model import LinearRegression

lr = LinearRegression()
lr.fit(X_train_new,y_train)

LinearRegression()

In [245]:
X_train_new.shape

(92, 134)

In [246]:
y_lr_train_pred = lr.predict(X_train_new)

In [247]:
y_lr_test_pred = lr.predict(X_test_new)

## Evaluate model performance

In [248]:
from sklearn.metrics import mean_squared_error, r2_score

lr_train_mse = mean_squared_error(y_train, y_lr_train_pred)
lr_train_r2 = r2_score(y_train, y_lr_train_pred)

lr_test_mse = mean_squared_error(y_test, y_lr_test_pred)
lr_test_r2 = r2_score(y_test, y_lr_test_pred)

In [249]:
print("LR Train MSE: ",lr_train_mse)
print("LR Train R2: ",lr_train_r2)
print("LR Test MSE: ",lr_test_mse)
print("LR Test R2: ",lr_test_r2)

LR Train MSE:  9.659082332312506e-07
LR Train R2:  1.0
LR Test MSE:  270816453304536.1
LR Test R2:  -20.38219522958453